/* css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header>h2 {
    color: #6C67FF;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 30px;
}

header>a>img {
    width: 65px;
    height: 60px;
}

header {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-left: 70px;
}

section>form {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.form-all {
    border-color: #6C67FF;
    /* border-width: thin; */
    border-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-style: solid;
    width: 400px;
    border-radius: 11px;
    padding-left: 35px;
}

.form-01 {}

.form-input-or-select-all {
    border-color: #6C67FF;
    border-radius: 7px;
}

.phone-sex {
    display: flex;
}

.phone-input {
    width: 118px;
}

.input-city {
    width: 85px;
}

.select-state {
    width: 90px;
}

.city-state {
    display: flex;
}

.prefix-suffix {
    display: flex;
}

.input-password {
    width: 137px;
}